.login,.signup{
    width: 30rem;
    border: 1px solid black;
    text-align: center;
    padding: 2rem;
    border-radius: 4px;
}

.inputs{
    text-align: initial;
    padding: 0.5rem 0;
}

.inputs>input{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
}